body {
    background-color:black;font-family:arial;color:white
}

h1{
    color:grey;font-family:verdana
}

.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin: auto;
}

footer{
    margin-top: 10px;
}

.row{
    display: inline-table;
}

.label{
    display: table-cell;
    width: 130px;
}

#HL{
    background-color: yellow;
}

#container{
    display: table;
    margin: auto;
    width:350px;
}